
@import url('https://fonts.googleapis.com/css2?family=Saira:ital,wght@0,100..900;1,100..900&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;


body {
  font-family: "Saira", sans-serif;
}


.fade-in-section {
  opacity: 0;
  transform: translateY(20vh);
  visibility: hidden;
  transition: opacity 250ms ease, transform 450ms ease;
  will-change: opacity, visibility;
}
.fade-in-section.is-visible {
  opacity: 1;
  transform: none;
  visibility: visible;
}

.scrollbar-hidden::-webkit-scrollbar {
  display: none; /* For Chrome, Safari, and Opera */
}

.scrollbar-hidden {
  -ms-overflow-style: none;  /* For Internet Explorer and Edge */
  scrollbar-width: none;  /* For Firefox */
}


.metaball {
  position: relative;
  display: inline-block;
  z-index: 1;
}

.metaball::before {
  content: "";
  position: absolute;
  top: 0;
  left: -2px;
  height: 100%;
  width: 0%; /* Start with no width */
  background-color: #C28E4A; /* Background color */
  z-index: -1; /* Ensure it's behind the text */
  transition: width 3s ease; /* Smooth transition on hover */
  border-radius: 4px;
}

.metaball.loaded::before {
  width: calc(100% + 4px); /* Fully cover the text after page load */
}

